<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanks.goldmap" >

    <application>
        <activity
            android:name=".MainActivity"
            android:label="@string/goldmap_app_name" >
        </activity>
    </application>

</manifest>
